.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github_name{
  /* display:flex;
  justify-content: flex-start; */
  margin-left:10px;
  position: fixed;
  color:rgb(255, 255, 255);
}

.card {
  margin-top:10px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
  border-radius: 5px;
  background:rgb(76, 95, 121);
  color:white;

  
}

.card img {
  border-radius:250px;
  margin-top:20px;
  border: 2px solid white;
}


.card_top{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.card_top h1 {
  margin: 5px auto;

  font-size: 1.5rem;
}

.card_top p {
  margin-top: 0;
  margin-bottom:20px;
  
}

.card_bottom {
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-top: .5px solid white;
  width:100%;
  background:rgb(70, 84, 104);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

